.title {
    padding-left: 35%;
  }

  section{
    margin-top: 20px;
  }
  
  .icon-nav1{
    float:right;
    margin-right: 40px;    
    text-decoration: none;
    color: black;
    margin-top: 20px;
  }
  
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    height: 80px;
    padding: 0 50px;
    padding-left: 40%;
  }
  
  .logo {
    font-size: 2rem;
    color: #333;
    text-decoration: none;
    font-weight: bold;
  }
  
  /* navbar */
  .navbar-menu {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .navbar-menu li {
    margin-right: 30px;
  }
  
  .navbar-menu li:last-child {
    margin-right: 0;
  }
  
  .navbar-menu li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    font-size: 1.2rem;
    transition: all 0.3s ease;
  }
  
  .navbar-menu li a:hover {
    color: #f9a825;
  }
  
  .navbar-icons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  
  .navbar-icons a {
    margin-left: 20px;
    color: #333;
    font-size: 1.5rem;
    text-decoration: none;
  }
  
  .navbar-icons a:hover {
    color: #f9a825;
  }
  
.page-header {
    background: #f5f5f5;
    margin-top: 20px;
    border-bottom: none;
    padding: 30px 0;
  }
  .page-header h1 {
    font-weight: 200;
    margin: 0 0 6px 0;
  }
  .page-header .breadcrumb {
    background: transparent;
    padding: 5px;
    margin: 0;
  }
  .page-header .breadcrumb li {
    font-weight: 200;
    font-size: 12px;
  }
  .page-header .breadcrumb li a {
    color: #000;
  }

  
  /* Font Awesome styles */
  @import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css');
  
body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
  }
  
  /* h1 {
    text-align: center;
  }
   */


/* slider */
  * {
    box-sizing: border-box;
    max-height: 650px; 
  }
  
  /* Position the image container (needed to position the left and right arrows) */
  .container {
    position: relative;
  }
  
  /* Hide the images by default */
  .mySlides {
    display: none;
    width: 100%;
}
  
  /* Add a pointer when hovering over the thumbnail images */
  .cursor {
    cursor: pointer;
    height: 150px;
  }
  
  /* Next & previous buttons */
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover,
  .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* Container for image text */
  .caption-container {
    text-align: center;
    background-color: #222;
    padding: 2px 16px;
    color: white;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Six columns side by side */
  .column {
    float: left;
    width: 16.66%;
  }
  
  /* Add a transparency effect for thumnbail images */
  .demo {
    opacity: 0.6;
  }
  
  .active,
  .demo:hover {
    opacity: 1;
  }

  /* grille de produits en bas */
  /* .grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 25px;
    padding: 15px;
    margin-left: 7%; */
    /* display: flex; */
    /* justify-content: center;
    align-items: center;
  }
  
  .grid-item {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    background-color: #fff;
    transition: transform 0.3s ease-in-out;
    width: 290px;
    height: 510px;
  }

  .grid-item:hover {
    transform: translateY(-5px);
  }
  
  .grid-item img {
    max-width: 200%; */
    /* margin-bottom: 10px;
    width: 270px;
    height: 400px;
  }
  
  .item-title {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .item-price {
    font-size: 1.1em;
    color: #c00;
    margin-bottom: 10px;
  }

.button{
    text-decoration: none;
    color: white;
    border: 1px solid black;
    border-radius: 5px;
    background-color: black;
    padding: 4px;
} */

  
  /* page d'accueil products category */
  p {
    font-family: "Poppins", sans-serif;
    color: #757575;
    font-size: 15px;
  }
  .category-box {
    background-size: cover;
    margin-bottom: 30px;
    min-height: 350px;
    position: relative;
    overflow: hidden;
    width: 100%;
  }
  @media (max-width: 400px) {
    .category-box {
      min-height: 250px;
    }
  }
  @media (max-width: 480px) {
    .category-box {
      min-height: 250px;
    }
  }
  .category-box.category-box-2 {
    min-height: 730px;
  }
  @media (max-width: 768px) {
    .category-box.category-box-2 {
      min-height: 400px;
    }
  }
  .category-box:hover img {
    transform: scale(1.1);
  }
  .category-box img {
    transition: all 0.3s ease-in-out;
    width: 100%;
    height: auto;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
  }
  .category-box a {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .category-box .content {
    position: absolute;
    z-index: 999;
    top: 0;
    padding: 25px;
  }
  @media (max-width: 768px) {
    .category-box .content {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
    }
  }
  .category-box .content h3 {
    margin: 0;
    color: #333;
    font-size: 20px;
    font-weight: 500;
  }
  @media (max-width: 768px) {
    .category-box .content h3 {
      font-size: 20px;
    }
  
  }
  .category-box .content p {
    margin: 6px 0 0;
  }
  
  .bg-gray {
    background: #f9f9f9;
  }
  
  .section {
    padding: 80px 0;
  }
  
  .title2 {
    padding: 20px 0 30px;
  }
  .title2 h2 {
    font-size: 18px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
  }
  
  
  /* avis */
  .product-item {
    margin-bottom: 30px;
  }
  .product-item .product-thumb {
    position: relative;
  }
  .product-item .product-thumb img {
    width: 100%;
    height: auto;
  }
  .product-item .product-thumb .bage {
    position: absolute;
    top: 12px;
    right: 12px;
    background: #000;
    color: #fff;
    font-size: 12px;
    padding: 4px 12px;
    font-weight: 300;
    display: inline-block;
  }

  .product-item .product-thumb:before {
    transition: 0.3s all;
    opacity: 0;
    background: rgba(0, 0, 0, 0.6);
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
  }
  .product-item .product-thumb .preview-meta {
    position: absolute;
    text-align: center;
    bottom: 0;
    left: 0;
    width: 100%;
    justify-content: center;
    opacity: 0;
    transition: 0.2s;
    transform: translateY(10px);
  }
  .product-item .product-thumb .preview-meta li {
    display: inline-block;
  }
  .product-item .product-thumb .preview-meta li a, .product-item .product-thumb .preview-meta li span {
    background: #fff;
    padding: 10px 0px;
    cursor: pointer;
    display: inline-block;
    font-size: 20px;
    transition: 0.2s all;
    width: 50px;
  }
  .product-item .product-thumb .preview-meta li a:hover, .product-item .product-thumb .preview-meta li span:hover {
    background: #000;
    color: #fff;
  }
  .product-item:hover .product-thumb:before {
    opacity: 1;
  }
  .product-item:hover .preview-meta {
    opacity: 1;
    transform: translateY(-20px);
  }
  .product-item .product-content {
    text-align: center;
  }
  .product-item .product-content h4 {
    font-size: 16px;
    font-weight: 400;
    margin-top: 15px;
    margin-bottom: 6px;
  }
  .product-item .product-content h4 a {
    color: #000;
    text-decoration: none;
  }
  
  .product-modal {
    background: rgba(255, 255, 255, 0.9);
    text-align: center;
    padding: 0 !important;
  }
  .product-modal:before {
    content: "";
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -4px;
  }
  .product-modal.fade .modal-dialog {
    transform: translate(0, 0);
  }
  .product-modal .close {
    width: 50px;
    float: none;
    position: absolute;
    right: 20px;
    z-index: 9;
    top: 20px;
    font-size: 30px;
    outline: none;
  }
  .product-modal .modal-dialog {
    width: 900px;
    display: inline-block;
    text-align: left;
    vertical-align: middle;
  }
  @media (max-width: 480px) {
    .product-modal .modal-dialog {
      width: 100%;
    }
  }
  @media (max-width: 768px) {
    .product-modal .modal-dialog {
      width: 100%;
    }
  }
  .product-modal .modal-content {
    border-radius: 0;
    box-shadow: none;
    border: none;
  }
  .product-modal .modal-content .modal-body {
    padding: 30px;
  }
  .product-modal .modal-content .modal-body .modal-image img {
    width: 100%;
    height: auto;
  }
  .product-modal .modal-content .modal-body .product-short-details h2 {
    margin-top: 0;
    font-size: 22px;
    font-weight: 400;
  }
  .product-modal .modal-content .modal-body .product-short-details h2 a {
    color: #000;
  }
  @media (max-width: 480px) {
    .product-modal .modal-content .modal-body .product-short-details h2 {
      margin-top: 15px;
    }
  }
  @media (max-width: 768px) {
    .product-modal .modal-content .modal-body .product-short-details h2 {
      margin-top: 15px;
    }
  }
  .product-modal .modal-content .modal-body .product-short-details .product-price {
    font-size: 30px;
    margin: 20px 0;
  }
  
  @media (max-width: 480px) {
    .product-modal .modal-content .modal-body .product-short-details .product-price {
      margin: 10px 0;
    }
  }
  
  .product-modal .modal-content .modal-body .product-short-details .btn-main, .product-modal .modal-content .modal-body .product-short-details .btn-solid-border, .product-modal .modal-content .modal-body .product-short-details .btn-transparent, .product-modal .modal-content .modal-body .product-short-details .btn-small {
    margin-top: 20px;
  }
  .product-modal .modal-content .modal-body .product-short-details .btn-transparent {
    color: #444;
    border-bottom: 1px solid #dedede;
  }
  
  .product-shorting {
    margin-bottom: 30px;
  }
  .product-shorting span {
    margin-right: 15px;
  }
  
  .product-category ul {
    padding-left: 15px;
  }
  .product-category ul li {
    margin-bottom: 4px;
  }
  .product-category ul li a {
    color: #666;
  }
  .product-category ul li a:hover {
    color: #000;
  } */
  
 .social-icon {
    margin-top: 20px;
  }
  .social-icon ul li {
    display: inline-block;
    margin-right: 10px;
  }
  @media (max-width: 400px) {
    .social-icon ul li {
      margin-bottom: 5px;
      margin-right: 5px;
    }
  }
  .social-icon ul li a {
    display: block;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 1px solid #000;
    text-align: center;
  }

  .social-icon ul li a:hover {
    background: #000;
    color: #fff;
    border: 1px solid #000;
  }

 .social-icon ul li a:hover i {
    color: #fff;
  }

  .social-icon ul li a i {
    color: #000;
    display: inline-block;
    font-size: 20px;
    line-height: 50px;
    margin: 0;
  } 
  .success {
    background-color: #6cb670;
    border-radius: 4px;
    color: #fff;
    display: none;
    font-size: 13px;
    padding: 10px;
  }
  
  .footer {
    background: #F7F7F7;
    padding: 50px 0;
    margin-top: 110%;
  }

  .footer1  {
    background: #F7F7F7;
    padding: 50px 0;
    margin-top: 10%;
  }


  .footer .footer-menu {
    margin-top: 30px;
  }
  .footer .footer-menu li {
    display: inline-block;
    margin: 0 10px;
  }
  .footer .footer-menu li a {
    color: #333;
    font-size: 12px;
  }
  .footer .copyright-text {
    margin-top: 20px;
  }
  
  /* .copyright-text a {
    color: #000;
  } */
  
  .social-media li {
    display: inline-block;
    margin: 0 5px;
  }

  /* .social-media li a {
    padding: 8px 10px;
  } */

  .social-media li a i {
    font-size: 20px;
    color: #555;
  }
  
